<div class="container">
    <div class="row">
{#        <div class="col-md-5">#}
{#            <div class="about-resigter-form backgroud-style relative-position">#}
{#                <div class="register-content">#}
{#                    <div class="register-fomr-title text-center">#}
{#                        <h3 class="bold-font"><span>Get a</span> Free Registration.</h3>#}
{#                    </div>#}
{#                    <div class="register-form-area">#}
{##}
{#                            <div class="nws-button text-uppercase text-center white text-capitalize">#}
{#                                <button type="submit" value="Submit">SIGN UP</button>#}
{#                            </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="bg-mockup">#}
{#                <img src="static/assets/img/about/abt.jpg" alt="">#}
{#            </div>#}
{#        </div>#}
{#        <!-- /form -->#}

        <div class="col-md-12">
            <div class="about-us-text">
                <div class="section-title relative-position mb20 headline text-left">
                    <span class="subtitle ml42 text-uppercase">SORT ABOUT US</span>
                    <h2 id="SiteData_home_about_us_header">{{ home_about_us_header.data | safe | escape }}</h2>
                    <p id="SiteData_home_about_us_sub_header">{{ home_about_us_sub_header.data | safe | escape }}</p>
                </div>
                <div id="SiteData_home_about_us_content_body" class="about-content-text">
                    {{ home_about_us_content_body.data | safe | escape }}
                </div>
            </div>
        </div>
    </div>
</div>