<div id="slider-item" class="slider-item-details">
            <div class="slider-area slider-bg-5 relative-position">
                <div class="slider-text">
                    <div class="section-title mb20 headline text-left ">
                        <div class="layer-1-1">
                            <span class="subtitle ml42 text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
                        </div>
                        <div class="layer-1-3">
                            <h2><span>Inventive</span> Solution <br> for <span>Education</span></h2>
                        </div>
                    </div>
                    <div class="layer-1-4">
                        <div class="genius-btn  text-center text-uppercase ul-li-block bold-font">
                            <a href="index-2.html#">Our Courses <i class="fas fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="slider-area slider-bg-2 relative-position">
                <div class="slider-text">
                    <div class="section-title mb20 headline text-center ">
                        <div class="layer-1-1">
                            <span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
                        </div>
                        <div class="layer-1-2">
                            <h2 class="secoud-title"> Browse The <span>Best Courses.</span></h2>
                        </div>
                    </div>
                    <div class="layer-1-3">
                        <div class="search-course mb30 relative-position">
                            <form action="index-2.html#" method="post">
                                <input class="course" name="course" type="text"
                                       placeholder="Type what do you want to learn today?">
                                <div class="nws-button text-center  gradient-bg text-capitalize">
                                    <button type="submit" value="Submit">Search Course</button>
                                </div>
                            </form>
                        </div>
                        <div class="layer-1-4">
                            <div class="slider-course-category ul-li text-center">
                                <span class="float-left">BY CATEGORY:</span>
                                <ul>
                                    <li>Graphics Design</li>
                                    <li>Web Design</li>
                                    <li>Mobile Application</li>
                                    <li>Enginering</li>
                                    <li>Science</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-area slider-bg-3 relative-position">
                <div class="slider-text">
                    <div class="layer-1-2">
                        <div class="coming-countdown ul-li">
                            <ul>
                                <li class="days">
                                    <span class="number"></span>
                                    <span class>Days</span>
                                </li>

                                <li class="hours">
                                    <span class="number"></span>
                                    <span class>Hours</span>
                                </li>

                                <li class="minutes">
                                    <span class="number"></span>
                                    <span class>Minutes</span>
                                </li>

                                <li class="seconds">
                                    <span class="number"></span>
                                    <span class>Seconds</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-title mb20 headline text-center ">
                        <div class="layer-1-3">
                            <h2 class="third-slide"> Mobile Application Experiences : <br>
                                <span>Mobile App Design.</span></h2>
                        </div>
                    </div>
                    <div class="layer-1-4">
                        <div class="about-btn text-center">
                            <div class="genius-btn text-center text-uppercase ul-li-block bold-font">
                                <a href="index-2.html#">About Us <i class="fas fa-caret-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-area slider-bg-4 relative-position">
                <div class="slider-text">
                    <div class="section-title mb20 headline text-center ">
                        <span class="subtitle text-uppercase">EDUCATION & TRAINING ORGANIZATION</span>
                        <h2 class=""><span>Inventive</span> Solution <br> for <span>Education</span></h2>
                    </div>
                </div>
            </div>
        </div>