<div class="container">
    <div class="section-title-2 mb65 headline text-left">
        <h2>Genius <span>Best Products.</span></h2>
    </div>
    <div id="best-product-slide-item" class="best-product-slide">
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-1.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>

        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-2.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-3.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-4.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-1.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-2.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
        <div class="product-img-text">
            <div class="product-img text-center mb20">
                <img src="static/assets/img/product/bp-3.png" alt="">
            </div>
            <div class="product-text-content relative-position">
                <div class="best-title-price float-left">
                    <div class="course-title headline">
                        <h3><a href="index-2.html#">Mobile Apps Books.</a></h3>
                    </div>
                    <div class="price-start">
                        Start from
                        <span>$55.25</span>
                    </div>
                </div>
                <div class="add-cart text-center">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>