<div class="container">
    <div class="section-title mb45 headline text-center">
        <span class="subtitle text-uppercase">SEARCH OUR COURSES</span>
        <h2>Browse Our<span> Best Course.</span></h2>
    </div>
    <div class="best-course-area mb45">
        <div class="row">
            {% for course in courses %}
                <div class="col-md-3">
                <div class="best-course-pic-text relative-position">
                    <div class="best-course-pic relative-position">
                        <img src="static/assets/img/course/bc-1.jpg" alt="">
                        <div class="trend-badge-2 text-center text-uppercase">
                            <i class="fas fa-bolt"></i>
                            <span>Trending</span>
                        </div>
                        <div class="course-price text-center gradient-bg">
                            <span>$99.00</span>
                        </div>
                        <div class="course-rate ul-li">
                            <ul>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="course-details-btn">
                            <a href="index-2.html#">COURSE DETAIL <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <div class="blakish-overlay"></div>
                    </div>
                    <div class="best-course-text">
                        <div class="course-title mb20 headline relative-position">
                            <h3><a href="index-2.html#">{{ course.name }}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- /course -->
        </div>
    </div>


</div>