<div class="container">
    <div class="section-title mb20 headline text-left">
        <span class="subtitle ml42  text-uppercase">GENIUS CATEGORIES</span>
        <h2>Browse <span>By Category.</span></h2>
    </div>
    <div class="category-item category-slide-item">
        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology"></i>
                </div>
                <div class="category-title">
                    <h4>Responsive Website</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-app-store"></i>
                </div>
                <div class="category-title">
                    <h4>IOS Applications</h4>
                </div>
            </div>
        </div>
        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-artist-tools"></i>
                </div>
                <div class="category-title">
                    <h4>Graphic Design</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-business"></i>
                </div>
                <div class="category-title">
                    <h4>Marketing</h4>
                </div>
            </div>
        </div>

        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-dna"></i>
                </div>
                <div class="category-title">
                    <h4>Science</h4>
                </div>
            </div>

            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-cogwheel"></i>
                </div>
                <div class="category-title">
                    <h4>Enginering</h4>
                </div>
            </div>
        </div>

        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology-1"></i>
                </div>
                <div class="category-title">
                    <h4>Photography</h4>
                </div>
            </div>

            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology-2"></i>
                </div>
                <div class="category-title">
                    <h4>Mobile Application</h4>
                </div>
            </div>
        </div>
        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology"></i>
                </div>
                <div class="category-title">
                    <h4>Responsive Website</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-app-store"></i>
                </div>
                <div class="category-title">
                    <h4>IOS Applications</h4>
                </div>
            </div>
        </div>
        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-artist-tools"></i>
                </div>
                <div class="category-title">
                    <h4>Graphic Design</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-business"></i>
                </div>
                <div class="category-title">
                    <h4>Marketing</h4>
                </div>
            </div>
        </div>

        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-dna"></i>
                </div>
                <div class="category-title">
                    <h4>Science</h4>
                </div>
            </div>

            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-cogwheel"></i>
                </div>
                <div class="category-title">
                    <h4>Enginering</h4>
                </div>
            </div>
        </div>

        <div class="category-slide-content">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology-1"></i>
                </div>
                <div class="category-title">
                    <h4>Photography</h4>
                </div>
            </div>

            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant flaticon-technology-2"></i>
                </div>
                <div class="category-title">
                    <h4>Mobile Application</h4>
                </div>
            </div>
        </div>
    </div>
</div>