<div class="container">
    <div class="section-title mb20 headline text-left">
        <span class="subtitle text-uppercase">LEARN ONLINE</span>
        <h2><span>Our</span> Courses.</h2>
    </div>
    <div id="course-slide-item" class="course-slide">
        {% for course in mock_courses %}
            <div id="MockCoursePackage" class="course-item-pic-text">
                <div class="course-pic relative-position mb25">
                    <img src="{{ course.image.url }}" alt="">
                    <div class="course-price text-center gradient-bg">
                        <span>{{ course.amount_text }}</span>
                    </div>
                    <div class="course-details-btn">
                        <a href="{% url 'to_registration_platform' %}">COURSE DETAIL <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="course-item-text">
                    <div class="course-title mt10 headline relative-position">
                        <h3><a href="{% url 'to_registration_platform' %}">{{ course.name }}</a> <span
                                class="trend-badge text-uppercase bold-font"><i
                                class="fas fa-bolt"></i></span></h3>
                    </div>
                </div>
            </div>
            <!-- /item -->
        {% endfor %}

    </div>
</div>