<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="latest-area-content">
                <div class="section-title-2 mb65 headline text-left">
                    <h2>Latest <span>News.</span></h2>
                </div>
                <div class="latest-news-posts">
                    {% for latest_post in recent_posts %}
                        <div id="Blog" class="latest-news-area">
                            <div class="latest-news-thumbnile relative-position">
                                <img src="{{ latest_post.image.url }}" alt="">
                                <div class="hover-search">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="blakish-overlay"></div>
                            </div>
                            <div class="date-meta">
                                <i class="fas fa-calendar-alt"></i> {{ latest_post.published_at | date }}
                            </div>
                            <h3 class="latest-title bold-font"><a href="{% url 'Blog Details' slug=latest_post.slug %}">{{ latest_post.name }}</a></h3>
                        </div>
                    {% endfor %}

                    <!-- /post -->

                    <div class="view-all-btn bold-font">
                        <a href="{% url 'blog' %}">View All News <i class="fas fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <!-- /latest-news -->
        <div class="col-md-4">
            <div class="latest-area-content">
                <div class="section-title-2 mb65 headline text-left">
                    <h2>Upcoming <span>Events.</span></h2>
                </div>
                {% for obj in recent_upcoming %}
                <div class="latest-events">
                <div class="latest-event-item">
                        <div class="events-date  relative-position text-center">
                            <div class="gradient-bdr"></div>
                            <span class="event-date bold-font">{{ obj.schedule | date:"d" }}</span>
                            {{ obj.schedule | date:"F" }} {{ obj.schedule | date:"Y" }}
                        </div>
                        <div class="event-text">
                            <h3 class="latest-title bold-font">{{ obj.name }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>