<div class="container">
    <div class="section-title mb35 headline text-left">
        <span class="subtitle ml42  text-uppercase">Our STAFFS</span>
        <h2>Our <span>Mentors.</span></h2>
    </div>
    <div class="teacher-secound-slide">
        {% for teacher in teachers %}
            <div class="teacher-img-text relative-position text-center">
            <div class="teacher-img-social relative-position">
                <a href="{% url 'team details' uuid=teacher.uuid %}"><img src="{{ teacher.profile_image.url }}" style="height: 200px" alt="">
                <div class="blakish-overlay"></div></a>

            </div>
            <div class="teacher-name-designation mt15">
                <span class="teacher-name">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</span>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
        <a href="{% url 'team' %}">All teacher <i class="fas fa-caret-right"></i></a>
    </div>
</div>