<div class="container">
    <div class="testimonial-slide">
        <div class="section-title mb35 headline text-center">
            <span class="subtitle text-uppercase">WHAT THEY SAY ABOUT US</span>
            <h2><span>Testimonials.</span></h2>
        </div>

        <div class="testimonial-secound-slide-area">
            {% for testimonial in testimonials %}
                <div class="student-qoute text-center">
                {{ testimonial.text | safe | escape }}
                <div class="student-name-designation">
                    <span class="st-name bold-font text-center">{{ testimonial.name }} </span><span class="st-designation">{{ testimonial.type }}</span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>