<div class="container">
    <div class="testimonial-slide">
        <div class="section-title mb35 headline text-center">
            <span class="subtitle text-uppercase">WHAT THEY SAY ABOUT US</span>
            <h2>Students <span>Testimonial.</span></h2>
        </div>

        <div class="testimonial-secound-slide-area">
            {% for testimonial in testimonials %}
                <div class="student-qoute text-center">
                <p>“{{ testimonial.text | safe | escape }}”</p>
                <div class="student-name-designation">
                    <span class="st-name bold-font">{{ testimonial.name }} </span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>