<div class="container">
    <div class="contact_secound_content">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-left-content">
                    <div class="section-title  mb45 headline text-left">
                        <span class="subtitle ml42  text-uppercase">CONTACT US</span>
                        <h2><span>Get in Touch</span></h2>
                        <p id="SiteData_contact_us_text">
                            {{ contact_us_text.data | safe | escape }}
                        </p>
                    </div>

                    <div class="contact-address">
                        <div class="contact-address-details">
                            <div class="address-icon relative-position text-center float-left">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="address-details ul-li-block">
                                <ul>
                                    {% for address in addresses %}
                                        <li>{{ address.address }}</li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                        <div class="contact-address-details">
                            <div class="address-icon relative-position text-center float-left">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="address-details ul-li-block">
                                <ul>
                                    {% for number in numbers %}
                                        <li>{{ number.number }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="contact-address-details">
                            <div class="address-icon relative-position text-center float-left">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="address-details ul-li-block">
                                <ul>
                                    {% for email in emails %}
                                        <li>{{ email.email }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact_secound_form">
                    <div class="section-title-2 mb65 headline text-left">
                        <h2>Send Us a message</h2>
                    </div>
                    <form class="contact_form" action="{% url 'contact now' %}" method="POST"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="contact-info">
                            <input class="name text-light" name="name" type="text" placeholder="Your Name.">
                        </div>
                        <div class="contact-info">
                            <input class="email text-light" name="email" type="email" placeholder="Your Email">
                        </div>
                        <textarea class="text-light" placeholder="Message." name="msg"></textarea>
                        <div class="nws-button text-center  gradient-bg text-capitalize">
                            <button type="submit" value="Submit">SEND MESSAGE NOW <i
                                    class="fas fa-caret-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer_2 backgroud-style">
    <div class="container">
        <div class="back-top text-center mb45">
            <a class="scrollup" href="index-2.html#"><img src="static/assets/img/banner/bt.png" alt=""></a>
        </div>
        <div class="footer_2_logo text-center">
            <img src="{{ navbar_logo.image.url }}" style="{{ navbar_logo.style }}" alt="">
        </div>

        <div class="footer_2_subs text-center">
            <p>We take our mission of increasing global access to quality education seriously. </p>
            <div class="subs-form relative-position">
                <form action="index-2.html#" method="post">
                    <input class="course" name="course" type="email" placeholder="Email Address.">
                    <div class="nws-button text-center  gradient-bg text-uppercase">
                        <button type="submit" value="Submit">Subscribe now</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="copy-right-menu">
            <div class="row">
                <div class="col-md-5">
                    <div class="copy-right-text">
                        <p>© {% now "Y" %} - Canadasocceracademy.com&trade;. All rights reserved</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="social-contact d-flex justify-content-between">
                        <div class="text-center">
                            <div class="footer-social-icons">
                                <a target="_blank" href="https://www.facebook.com/robertscanadasocceracademy"><i
                                        style="color: #3b5998"
                                        class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="footer-social-icons">
                                <a target="_blank" href="https://twitter.com/CanadaSocce?s=01"><i
                                        class="instagram fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="footer-social-icons">
                                <a target="_blank" href="https://twitter.com/CanadaSocce?s=01"><i style="color: #00acee"
                                                                                                  class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="footer-social-icons">
                                <a target="_blank" href="https://www.youtube.com/channel/UC4V5u3ojlyyvhwVCSfjy9bg"><i
                                        style="color: #FF0000" class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="copy-right-menu-item float-right ul-li">
                        <ul>
                            <li><a href="{% url 'documents' page='policy' %}">Privacy & Policy</a></li>
                            <li><a href="{% url 'documents' page='terms' %}">Term Of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>