<div id="sponsor" class="sponsor-section sponsor-2">
    <div class="container">
        <div class="sponsor-item">
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-1.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center ">
                <img src="static/assets/img/sponsor/s-2.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-3.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-4.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-5.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-6.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-1.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-2.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-3.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-4.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-5.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-6.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-1.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-2.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-3.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-4.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-5.jpg" alt="">
            </div>
            <div class="sponsor-pic text-center">
                <img src="static/assets/img/sponsor/s-6.jpg" alt="">
            </div>
        </div>
    </div>
</div>