<!DOCTYPE html>
<html lang="en">
<head>
    {% include "meta.html" %}
    {% block meta %}

    {% endblock %}
    <title>
        Canada Soccer Academy&trade; | {% block title %}{% endblock %}
    </title>
    {% include "styles.html" %}
    {% block styles %}

    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    {% include 'site_data/breadcrumb.html' %}
    <section class="my-5">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
                        {% block content %}

                        {% endblock %}
                    </div>
                    {% include "site_data/features.html" %}
                </div>
            </div>
    </section>
    {% include 'site_data/footer.html' %}
    {% include "scripts.html" %}
    {% block scripts %}

    {% endblock %}
</body>
</html>