<div class="col-md-3">
    <div class="side-bar-widget first-widget">
        <h2 class="widget-title text-capitalize"><span>Find A Course </span>&amp; Sign up Today.</h2>
        <div class="course-img" id="SiteLogo_app_feature_image">
            <img src="{{ app_feature_image.image.url }}" alt="">
        </div>
        <div class="course-desc" id="SiteData_app_feature_image_text">
            <p>{{ app_feature_image_text.data | safe | escape }}</p>
        </div>
        <div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
            <a target="_blank" href="{% url 'to_registration_platform' %}">VIEW ONLINE COURSES <i class="fas fa-caret-right"></i></a>
        </div>
    </div>

    <div class="side-bar-widget">
        <h2 class="widget-title text-capitalize"><span>Related </span>News.</h2>
        <div class="latest-news-posts">

            {% for recent_post in recent_posts %}
                <div class="latest-news-area">
                    <div class="latest-news-thumbnile relative-position">
                        <img src="{{ recent_post.image.url }}" alt="">
                        <div class="hover-search">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="blakish-overlay"></div>
                    </div>
                    <div class="date-meta">
                        <i class="fas fa-calendar-alt"></i> {{ recent_post.published_at | date }}
                    </div>
                    <h3 class="latest-title bold-font"><a href="{% url 'Blog Details' slug=recent_post.slug %}">{{ recent_post.name | safe | escape }}</a>
                    </h3>
                </div>
            {% endfor %}

            <!-- /post -->

            <div class="view-all-btn bold-font">
                <a href="{% url 'blog' %}">View All News <i class="fas fa-chevron-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="side-bar-widget">
        <h2 class="widget-title text-capitalize"><span>Featured</span> Course.</h2>
        <div class="featured-course">
            <div class="best-course-pic-text relative-position">
                <div class="best-course-pic relative-position">
                    <a target="_blank" href="{% url 'to_registration_platform' %}"><img id="SiteLogo_feature_course_logo" src="{{ feature_course_logo.image.url }}" alt=""></a>
                    <div class="trend-badge-2 text-center text-uppercase">
                        <i class="fas fa-bolt"></i>
                        <span>Popular</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>