<!-- Start of footer section
		============================================= -->
<footer>
    <section id="footer-area" class="footer-area-section">
        <div class="container">
            <div class="footer-content pb10">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo mb35">
                                <img src="{{ navbar_logo.image.url }}"
                                     style="{{ navbar_logo.style }}" alt="Logo">
                            </div>
                            <div class="footer-about-text" id="SiteData_footer_text">
                                {{ footer_text.data|safe|escape }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-widget">
                            <div class="footer-menu ul-li-block">
                                <h2 class="widget-title">Useful Links</h2>
                                <ul>
                                    <li><a href="{% url 'about' %}"><i class="fas fa-caret-right"></i>About Us</a></li>
                                    <li><a href="{% url 'team' %}"><i class="fas fa-caret-right"></i>Teachers</a></li>
                                    <li><a href="{% url 'contact' %}"><i class="fas fa-caret-right"></i>Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-menu ul-li-block">
                            <h2 class="widget-title">Account Info</h2>
                            <ul>
                                <li><a href="{% url "secure_accounts:Login to your account" %}"><i
                                        class="fas fa-caret-right"></i>Login & Register</a></li>
                                <li><a href="{% url 'contact' %}"><i class="fas fa-caret-right"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-widget">
                            <h2 class="widget-title">Photo Gallery</h2>
                            <div class="photo-list ul-li">
                                <ul>
                                    {% for gallery in feature_gallery_images %}
                                        <li>
                                            <img src="{{ gallery.image.url }}" style="height: 80px" alt="">
                                            <div class="blakish-overlay"></div>
                                            <div class="pop-up-icon">
                                                <a href="{{ gallery.image.url }}" data-lightbox="roadtrip">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /footer-widget-content -->
            <div class="footer-social-subscribe mb65">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9">

                    </div>
                </div>
            </div>

            <div class="copy-right-menu">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copy-right-text">
                            <p>© {% now "Y" %} - Canadasocceracademy.com&trade;. All rights reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="copy-right-menu-item float-right ul-li">
                            <ul>
                                <li><a href="{% url 'agreements' %}">Agreements</a></li>
                                <li><a href="{% url 'documents' page='policy' %}">Privacy & Policy</a></li>
                                <li><a href="{% url 'documents' page='terms' %}">Term Of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- End of footer section
============================================= -->