{% extends "site_data/base-with-side-features-regular-footer.html" %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" />
    <style>
        #container {
            max-width: 1400px;
        }

        .item {
            max-width: 400px;
            float: left;
        }

        .item img {
            display: block;
            width: 100%;
        }

        button {
            font-size: 18px;
        }

        .container {
            width: 100%;
        }

        #container {
            overflow-y: auto;
            max-height: 1000px;
        }

        #container::-webkit-scrollbar {
            width: 3px;
        }

        #container::-webkit-scrollbar-track {
            display: none;
        }

        #images {
            overflow-y: auto;
            max-height: 1000px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="container"></div>
    <div id="images">
        {% for image in images %}
            <div class="item mb-2">
                <a href="{{ image.image.url }}" data-lightbox="{{ image.name }}"
                   data-title="{{ image.name }}"><img src="{{ image.image.url }}" alt="{{ image.name }}"></a>
            </div>
        {% endfor %}


    </div>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous"></script>
    <script>
        $(function () {

            var $container = $('#container').masonry({
                itemSelector: '.item',
                columnWidth: 400,
                gutter: 10
            });

            // reveal initial images
            $container.masonryImagesReveal($('#images').find('.item'));
        });

        $.fn.masonryImagesReveal = function ($items) {
            var msnry = this.data('masonry');
            var itemSelector = msnry.options.itemSelector;
            // hide by default
            $items.hide();
            // append to container
            this.append($items);
            $items.imagesLoaded().progress(function (imgLoad, image) {
                // get item
                // image is imagesLoaded class, not <img>, <img> is image.img
                var $item = $(image.img).parents(itemSelector);
                // un-hide item
                $item.show();
                // masonry does its thing
                msnry.appended($item);
            });

            return this;
        };
    </script>
{% endblock %}