{% extends "site_data/base-with-side-features-regular-footer.html" %}
{% block content %}
<div class="blog-details-content">
    <div class="post-content-details">
        {% include 'site_data/blog/details/blog-image.html' %}
        {% include 'site_data/blog/details/blog-title.html' %}
        {% include 'site_data/blog/details/blog-text.html' %}
    </div>
    <div class="blog-category ul-li">
        {% include 'site_data/blog/details/blog-tags.html' %}
    </div>
    <div class="author-comment">
        {% include 'site_data/blog/details/blog-writter.html' %}
    </div>
</div>
{% endblock %}