<div class="col-md-9">
    <div class="teachers-archive">
        <div class="row">
            {% for teacher in teachers %}
                <div class="col-md-4 col-sm-6">
                <div class="teacher-pic-content">
                    <div class="teacher-img-content relative-position">
                        <img style="min-height: 188px;" src="{{ teacher.profile_image.url }}" alt="">

                        <div class="teacher-next text-center">
                            <a href="{% url 'team details' uuid=teacher.uuid %}"><i class="text-gradiant fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="teacher-name-designation">
                        <span class="teacher-name">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</span>
                        <span class="teacher-designation">{{ teacher.type }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>

    </div>
</div>