{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container">
        {% if package %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center shadow">
                        <div class="card-header">
                            <h4 class="text-muted">CODE: {{ package.name }}</h4>
                            <h5>{{ package.amount }} {{ package.cycle }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 border p-3">
                    <p>{{ package.description_box }}</p>
                    <form method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger float-right" type="submit" value="Unsubscribe">
                    </form>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'to_e_learning_platform' %}" class="btn btn-info">See all packages</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}