{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container">
        {% if package and clear %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center shadow">
                        <div class="card-header">
                            <h4 class="text-muted">CODE: {{ package.name }}</h4>
                            <h5>{{ package.amount }} {{ package.cycle }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 border p-3">
                    {{ package.description_box | safe | escape }}
                    {% if customer.cancel_scheduled %}
                        <p class="font-weight-bolder mt-3 text-blue float-right" style="font-weight: bolder; font-family: Sans-serif,serif">Cancels {{ customer.clear_till }} | After {{ customer.clear_till | timeuntil | title }}</p>
                    {% else %}
                        <form method="post" class="my-2">
                            {% csrf_token %}
                            <input class="btn btn-danger float-right" type="submit" value="Unsubscribe">
                        </form>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'to_e_learning_platform' %}" class="btn btn-info">See all packages</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}