<div class="course-advantage about-teacher-2">
    <div class="section-title-2  headline text-left">
        <h2>Genius Course <span>Advantages</span></h2>
    </div>
    <div class="service-slide_3">
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">The Power Of Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-clipboard-with-pencil"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Best Online Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-list"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Education For All Student.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">The Power Of Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-clipboard-with-pencil"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Best Online Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-list"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Education For All Student.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">The Power Of Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-clipboard-with-pencil"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Best Online Education.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
        <div class="service-text-icon">
            <div class="service-icon float-left">
                <i class="text-gradiant flaticon-list"></i>
            </div>
            <div class="service-text">
                <h3 class="bold-font">Education For All Student.</h3>
                <p>Lorem ipsum dolor sit amet consectuerer adipiscing elit set diam nonnumynibh.</p>
            </div>
        </div>
    </div>
</div>