{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Canadasocceracademy.com</title>
    <base href="/e-learning">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'dashboard/css/fontawesome-free.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/e-learning/styles.css' %}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<app-root></app-root>
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dashboard/js/OverlayScrollbars.min.js' %}"></script>
<script src="{% static 'dashboard/js/adminlte.min.js' %}"></script>
<script src="{% static 'dashboard/js/demo.js' %}"></script>
<script src="{% static 'app/e-learning/runtime.js' %}" defer></script>
<script src="{% static 'app/e-learning/polyfills.js' %}" defer></script>
<script src="{% static 'app/e-learning/main.js' %}" defer></script>
</body>
</html>
