{% extends 'dashboard/base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'payments:Add Payment Method' %}" class="btn btn-primary" style="margin-bottom: 50px; margin-top: 20px">Add a method</a>
            <div class="table-responsive">
                {% if total %}
                    <table class="table">
                        <tbody>
                        {% for method in methods %}
                            <tr>
                                <td><img style="width: 45px" src="{{ method.image_url }}" alt=""> {{ method.type }}</td>
                                <td>{{ method.data }}</td>
                                <td>{{ method.is_verified }}</td>
                                <td>{{ method.is_default }}</td>
                                <td>
                                    <form action="{% url 'payments:Delete Payment Method' %}" method="post">
                                        <input type="hidden" value="{{ method.uuid }}" name="id">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}