{% extends "studio/base.html" %}
{% block title %}
Videos
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>ALL VIDEOS</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Thumbnail</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Package</th>
                            <th>Uploaded at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                          <tr class="small">
                            <td>
                                <div class="img-responsive">
                                    {% if video.thumbnail %}
                                    <img class="img-fluid" style="object-fit: cover"
                                            src="{{ video.thumbnail.url }}" alt="{{ video.name }}'s Thumbnail">
                                    {% else %}
                                        <p>No thumbnail</p>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ video.name }}</td>
                            <td>{{ video.category.name }}</td>
                            <td>{{ video.package.name }}</td>
                            <td>{{ video.created }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}