{% extends "studio/base.html" %}
{% block title %}
Videos
{% endblock %}
{% block content %}
    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-lg-12">
                <h3>ALL VIDEOS</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th>Video</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Package</th>
                                <th>Uploaded at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for video in videos %}
                              <tr class="small">
                                <td>
                                    <div class="img-responsive">
                                        {% if video.video %}
                                            <video width="400" controls controlsList="nodownload"
                                                   poster="{{ video.thumbnail.url }}">
                                              <source src="{{ video.video.url }}" type="video/mp4">
                                              Your browser does not support HTML video.
                                            </video>
                                        {% else %}
                                            <p>No video</p>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ video.name }}</td>
                                <td>{{ video.category.name }}</td>
                                <td>{{ video.package.name }}</td>
                                <td>{{ video.created }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}