{% extends "site_data/base-with-side-features-regular-footer.html" %}
{% block styles %}
<style>
#blog {
    max-width: 400px;
    float: left;
}
</style>
{% endblock %}
{% block content %}
    <div class="blog-post-content">
        {% include 'site_data/camps/camp_list.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $(function () {

            $('#blogs').masonry({
                itemSelector: '#blog',
                gutter: 40
            });
        });
    </script>
{% endblock %}