{% load static %}
<header>
    <div id="main-menu" class="main-menu-container">
        <div class="main-menu">
            <div class="container">
                <div class="navbar-default">
                    <div class="navbar-header float-left">
                        <a class="navbar-brand text-uppercase font-weight-bold"
                           href="{% url 'home' %}">
                            <img id="SiteLogo_navbar_logo" style="transition: 0.2s;" src="{{ navbar_logo.image.url }}"
                                alt="Logo">
                        </a>
                    </div>
                    {% if request.user.is_authenticated == False %}
                        <div class="log-in float-right">
                            <a data-toggle="modal" data-target="#myModal" href="#">log in</a>
                            <!-- The Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header backgroud-style">
                                            <div class="gradient-bg"></div>
                                            <div class="popup-logo">

                                            </div>
                                            <div class="popup-text text-center">
                                                <h2><span>Login</span> Your Account.</h2>
                                                <a href="{% url 'to_registration_platform' %}">Login to our website, or
                                                    <span>REGISTER</span></a>
                                            </div>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form class="contact_form"
                                                  action="{% url 'secure_accounts:Login to your account' %}"
                                                  method="post"
                                            >
                                                {% csrf_token %}
                                                <div class="contact-info">
                                                    <input class="name" name="email"
                                                           placeholder="Your@email.com*">
                                                </div>
                                                <div class="contact-info">
                                                    <input class="pass" name="password" type="password"
                                                           placeholder="Your password*">
                                                </div>
                                                <div class="nws-button text-center white text-capitalize">
                                                    <button type="submit" value="Submit">Log in Now</button>
                                                </div>
                                            </form>
                                            <div class="log-in-footer text-center">
                                                <p>* Denotes mandatory field.</p>
                                                <p>** At least one telephone number is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <nav class="navbar-menu float-right vertical-center">
                        <div class="nav-menu ul-li">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="menu-item-has-children ul-li-block">
                                    <a href="#">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'about' %}">Overview</a></li>
                                        <li><a href="{% url 'agreements' %}">Agreements</a></li>
                                        <li><a href="{% url 'team' %}">Our Team Members</a></li>
                                        <li><a href="{% url 'documents' page='policy' %}">Privacy Policy</a></li>
                                        <li><a href="{% url 'documents' page='terms' %}">Terms & Condition</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'camps' %}">Camps</a></li>
                                <li><a target="_blank" href="{% url 'to_registration_platform' %}">Programs</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li class="menu-item-has-children ul-li-block">
                                    <a href="#">Gallery</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'photos' %}">Photos</a></li>
                                        <li><a href="{% url 'videos' %}">Videos</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
{#                                <li><a target="_blank" href="{% url 'to_registration_platform' %}">Sign up</a></li>#}
                                {% if request.user.is_authenticated %}<li><a href="{% url 'secure_accounts:Logging out' %}">Log out</a></li>{% endif %}
                                {% if request.user.is_authenticated and request.user.is_superuser %}<li><a href="/admin">Admin</a></li>{% endif %}
                            </ul>
                        </div>
                    </nav>

                    <div class="mobile-menu">
                        <div class="logo"><a href="{% url 'home' %}"><img id="SiteLogo_navbar_logo" src="{{ navbar_logo.image.url }}" style="height: 21px" alt="Logo"></a>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li class="menu-item-has-children ul-li-block">
                                    <a href="#">About Us</a>
                                    <ul>
                                        <li><a href="{% url 'about' %}">Overview</a></li>
                                        <li><a href="{% url 'agreements' %}">Agreements</a></li>
                                        <li><a href="{% url 'team' %}">Our Team Members</a></li>
                                        <li><a href="{% url 'documents' page='policy' %}">Privacy Policy</a></li>
                                        <li><a href="{% url 'documents' page='terms' %}">Terms & Condition</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'camps' %}">Camps</a></li>
                                <li><a target="_blank" href="{% url 'to_registration_platform' %}">Programs</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li class="menu-item-has-children ul-li-block">
                                    <a href="#">Gallery</a>
                                    <ul>
                                        <li><a href="{% url 'photos' %}">Photos</a></li>
                                        <li><a href="{% url 'videos' %}">Videos</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
{#                                <li><a target="_blank" href="{% url 'to_registration_platform' %}">Sign up</a></li>#}
                                {% if request.user.is_authenticated %}<li><a href="{% url 'secure_accounts:Logging out' %}">Log out</a></li>{% endif %}
                                {% if request.user.is_authenticated and request.user.is_superuser %}<li><a href="/admin">Admin</a></li>{% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>