{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/video.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/progess.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
