<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/e_learning" class="brand-link">
        <img src="https://marvelous-tech.nyc3.cdn.digitaloceanspaces.com/uploads/gallery/images/2defaf49-34f8-4a30-a09d-effea834437d.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: 1; height: 100px !important; filter: brightness(200%)">
        <span class="brand-text font-weight-light">E-learning</span>
    </a>

    <!-- Sidebar -->
   <div class="sidebar">
{#        <!-- Sidebar user (optional) -->#}
{#        <div class="user-panel mt-3 pb-3 mb-3 d-flex">#}
{#            <div class="image">#}
{#                <img src="{% if profile_image %} {{ profile_image.url }} {% else %} https://cdn0.iconfinder.com/data/icons/social-media-network-4/48/male_avatar-512.png {% endif %}" class="img-circle elevation-2" alt="User Image">#}
{#            </div>#}
{#            <div class="info">#}
{#                <a href="{% url 'e_learning_view:Profile' %}" class="d-block">{{ name }}</a>#}
{#            </div>#}
{#        </div>#}

        <!-- SidebarSearch Form -->
{#        <div class="form-inline">#}
{#            <div class="input-group" data-widget="sidebar-search">#}
{#                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-sidebar">#}
{#                        <i class="fas fa-search fa-fw"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
										 with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{% url 'to_e_learning_platform' %}" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>
                            Courses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'payments:All Payment Methods' %}" class="nav-link">
                        <i class="nav-icon far fa-credit-card"></i>
                        <p>
                            Billing
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'secure_accounts:cancel_subscriptions' %}" class="nav-link">
                        <i class="nav-icon fas fa-photo-video"></i>
                        <p>
                            subscription
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'secure_accounts:Update Profile' %}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'secure_accounts:Logging out' %}" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>