<center>
    <div class="text3x bold">ROBERTS CANADA SOCCER ACADEMY</div>
    <div class="sub2xtext">2022 Spain Id Camp Registration Form</div>
</center>
<div class="error">
    <div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; padding: 20px; border-radius: 10px;">
        <center><img src="/assets/app/campaign/spain/images/warning.png">
            <br>
            <small>[${params.id}]</small>
        </center>
        <div class="text3x bold red-text">Oops! Process unsuccessfull!</div>
        <div style="color: crimson" class="sub2xtext">Please reload to pay again!</div>
        <br/>
        <a href="/">
            <center>
                <button style="background: #F3A744;" class="btn">Reload</button>
            </center>
        </a>
    </div>
</div>