<center>
    <div class="text3x bold">ROBERTS CANADA SOCCER ACADEMY</div>
    <div class="sub2xtext">2022 Spain Id Camp Registration Form</div>
</center>
<div class="form">
    <form id="payment-form">
        <h3>Payment</h3>
        <div id="payment-element">

        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now <span id="price"></span></span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>