<center>
    <div class="text3x bold">ROBERTS CANADA SOCCER ACADEMY</div>
    <div class="sub2xtext">2022 Spain Id Camp Registration Form</div>
</center>
<div class="error">
    <div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; padding: 20px; border-radius: 10px;">
        <center><img src="/assets/app/campaign/spain/images/transaction.png"></center>
        <div class="text3x bold green-text">Hey, ${payment_res.subscriber.name}! Successfully Paid!</div>
        <div class="sub2xtext green-text">We will sent you an email with further confirmation details!</div>
        <br/>
        <center>
            <a href="/campaign/get_pdf/${payment_res.subscriber.guid}/" class="btn" >Download Receipt</a>
        </center>

    </div>

    <div class="pdf">
        {% include 'campaign/spain_id_camp/pdf.html' %}
    </div>

</div>