<!-- Start of contact area form
		============================================= -->
<section id="contact-form" class="contact-form-area_3 contact-page-version">
    <div class="container">
        <div class="section-title mb45 headline text-center">
            <span class="subtitle text-uppercase">Send us a message</span>
            <h2>Contact<span> Us.</span></h2>
        </div>

        <div class="contact_third_form">
            <form class="contact_form" action="{% url 'contact now' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-info">
                            <input class="name" name="name" type="text" placeholder="Your Name.">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info">
                            <input class="email" name="email" type="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info">
                            <input class="number" name="phone" type="text" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <textarea placeholder="Message." name="msg"></textarea>
                <div class="nws-button text-center  gradient-bg text-uppercase">
                    <button type="submit" value="Submit">SEND EMAIL <i class="fas fa-caret-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End of contact area form
============================================= -->