<!-- Start of contact area
		============================================= -->
<section id="contact-area" class="contact-area-section backgroud-style">
    <div class="container">
        <div class="contact-area-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-left-content">
                        <div class="section-title  mb45 headline text-left">
                            <span class="subtitle ml42  text-uppercase">CONTACT US</span>
                            <h2><span>Get in Touch</span></h2>
                            <p id="SiteData_contact_us_text">
                                {{ contact_us_text.data | safe | escape }}
                            </p>
                        </div>

                        <div class="contact-address">
                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for address in addresses %}
                                            <li>{{ address.address | title }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>

                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for number in numbers %}
                                            <li>{{ number.number }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for email in emails %}
                                            <li>{{ email.email }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="genius-btn mt60 gradient-bg text-center text-uppercase ul-li-block bold-font">
                        <a href="{% url 'contact' %}">Contact Us <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="contact-map" class="contact-map-section">
                        <div id="google-map">
                            <div id="googleMaps" class="google-map-container"></div>
                        </div><!-- /#google-map-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of contact area
============================================= -->