<!-- Start of contact area
		============================================= -->
<section id="contact-area" class="contact-area-section backgroud-style">
    <div class="container">
        <div class="contact-area-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-left-content">
                        <div class="section-title  mb45 headline text-left">
                            <span class="subtitle ml42  text-uppercase">CONTACT US</span>
                            <h2><span>You May Reach Us At...</span></h2>
                            <p id="SiteData_contact_us_text">
                                {{ contact_us_text.data | safe | escape }}
                            </p>
                        </div>

                        <div class="contact-address">
                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for address in addresses %}
                                            <li>{{ address.address | title }}
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>

                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for number in numbers %}
                                            <li>{{ number.number }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="contact-address-details">
                                <div class="address-icon relative-position text-center float-left">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="address-details ul-li-block">
                                    <ul>
                                        {% for email in emails %}
                                            <li>{{ email.email }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="genius-btn mt60 mb-2 gradient-bg text-center text-uppercase ul-li-block bold-font">
                        <a href="{% url 'contact' %}">Contact Us <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>

                <div class="col-md-6">
{#                    <div id="contact-map" class="contact-map-section">#}
{#                        <div class="iframe-container">#}
{#                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.046974013205!2d-79.6310692719684!3d43.594226786064574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b4722f3a55555%3A0x1ebc8c3443f9b5c2!2s1804-1477%20Mississauga%20Valley%20Blvd%2C%20Mississauga%2C%20ON%20L5A%203Y4%2C%20Canada!5e0!3m2!1sen!2sbd!4v1610470675908!5m2!1sen!2sbd" frameborder="0"></iframe>#}
{#                        </div><!-- /#google-map-->#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of contact area
============================================= -->