<!-- Start of contact section
		============================================= -->
<section id="contact-page" class="contact-page-section">
    <div class="container">
        <div class="section-title mb45 headline text-center">
            <span class="subtitle text-uppercase">SEND US A MESSAGE</span>
            <h2>Keep<span> In Touch.</span></h2>
        </div>
        <div class="social-contact">
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-facebook-f"></i>
                </div>
                <div class="category-title">
                    <h4>Facebbok</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-twitter"></i>
                </div>
                <div class="category-title">
                    <h4>Twitter</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-google-plus-g"></i>
                </div>
                <div class="category-title">
                    <h4>Google +</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-behance"></i>
                </div>
                <div class="category-title">
                    <h4>Behance</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-instagram"></i>
                </div>
                <div class="category-title">
                    <h4>Instagram</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-dribbble"></i>
                </div>
                <div class="category-title">
                    <h4>Dribble</h4>
                </div>
            </div>
            <div class="category-icon-title text-center">
                <div class="category-icon">
                    <i class="text-gradiant fab fa-deviantart"></i>
                </div>
                <div class="category-title">
                    <h4>Devianart</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of contact section
============================================= -->