<!-- Start of contact section
		============================================= -->
<section id="contact-page" class="contact-page-section">
    <div class="container">
        <div class="section-title mb45 headline text-center">
            <span class="subtitle text-uppercase">SEND US A MESSAGE</span>
            <h2>Keep<span> In Touch.</span></h2>
        </div>
        <div class="social-contact d-flex justify-content-center">
            <div class="text-center social-icon">
                <div class="category-icon">
                    <a target="_blank" href="https://www.facebook.com/robertscanadasocceracademy"><i style="color: #3b5998" class="fab fa-facebook-f"></i></a>
                </div>
            </div>
            <div class="text-center social-icon">
                <div class="category-icon">
                    <a target="_blank" href="https://twitter.com/CanadaSocce?s=01"><i style="color: #00acee" class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="text-center social-icon">
                <div class="category-icon">
                    <a target="_blank" href="https://www.youtube.com/channel/UC4V5u3ojlyyvhwVCSfjy9bg"><i style="color: #FF0000" class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of contact section
============================================= -->